@font-face {
    font-family: halantReg;
    src: url(Halant,Montserrat\Halant\Halant-Regular.ttf);
}

@font-face {
    font-family: monsterratReg;
    src: url(Halant,Montserrat\Montserrat\static\Montserrat-Regular.ttf);
}

:root {
    --pinkcolour: #FFE3DC;
    --backgroundcolour: white;
    --nav-color: #DBB4AD;
    --textcolour: #3A2D32;
}

* {
    box-sizing: border-box;
}

.container {
    margin: auto;
    margin-top: 3rem;
    max-width: 90vw;
    background-color: var(--backgroundcolour);
}

body {
    font-family: halantReg;
    color: var(--textcolour);
}

h2,h3 {
    font-family: monsterratReg;
    font-style: oblique;
}

p {
    font-size: 1rem;
}

header {
    background-color: var(--pinkcolour);
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
}

nav{
    background-color: var(--nav-color);
    font-family: halantReg;
    font-size: larger;
}

section {
    display: flex;
    width: 90vw;
}

ol {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 1rem;
    background-color: var(--nav-color);
}

.nav li {
    float: right;
    background-color: var(--nav-color);
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav li a {
    display: block;
    color: var(--pinkcolour);
    text-align: center;
    margin: 1rem;
    text-decoration: none;
    color: var(--textcolour);
}

.nav li a:hover {
    text-decoration: underline;
    color:white;
}

article {
    background-color: var(--backgroundcolour);
    padding: 1vw;
    width: 65vw;
    height: 70%;
}

img {
    background-color: var(--backgroundcolour);
    width: 30vw;
    height: 70vh;
    opacity: 0.8;
    margin-top: 2rem;
    margin-right: 1rem;
}

footer {
    background-color: var(--pinkcolour);
    padding: 1rem;
    text-align: right;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
        flex-direction: column;
        height: auto;
        width: auto;
    }
    article {
        height: auto;
        width: auto;
    }
    img {
        height: auto;
        width: auto;
    }
    .nav {
        display: flex;
        flex-direction: column-reverse;
        right: 0px;
        top: 0px;
    }
}